<div class="navbar navbar-expand-sm navbar-light navbar-lewagon mt-4">
  <div class="container-fluid">
    <div class="d-flex align-items-center justify-content-between w-100">

    </div>
    <!-- Calendar Overview Link To-->
  <button class="navbar-toggler" type="button" id="navbarToggle">
    <%= image_tag "menu_icon.svg", alt: "Menu", class: "menu-icon" %>
  </button>

  <!-- Greeting text-->
  <div class="flex-grow-1 text-center">
    <% if defined?(@has_entry_today) && @has_entry_today %>
      <!-- Show when there IS an entry -->
      <div>Logs AI <%= image_tag "logo.svg", alt: "Logo", class: "logo-icon" %></div>
    <% else %>
      <!-- Show when there is NO entry -->
      <div>What's on your <%= image_tag "logo.svg", alt: "Logo", class: "logo-icon" %></div>
      <div>mind today <%= current_user&.first_name || 'User' %>?</div>
    <% end %>
  </div>

    <!-- Routing Button -->
    <% if current_page?(root_path) %>
    <!-- We're on homepage, link to calendar -->
      <%= link_to dashboard_calendar_path, class: "navbar-lewagon navbar-brand" do %>
        <%= image_tag "overview_button_square.svg", alt: "Go to Calendar" %>
      <% end %>
    <% else %>
      <!-- We're NOT on homepage, link back to homepage -->
      <%= link_to root_path, class: "navbar-lewagon navbar-brand" do %>
        <%= image_tag "overview_button_diamond.svg", alt: "Go to Home" %>
      <% end %>
    <% end %>

    <!-- Simple sliding sidebar -->
    <div class="simple-sidebar" id="simpleSidebar">
      <div>
        <button id="closeSidebar">Close</button>
      </div>
      <div>
        <input type="text" placeholder="🔎 search">
      </div>
      <div>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Premium</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>

      <% if current_user %>
        <div class="d-flex align-items-center gap-1">
            <div class="avatar-circle"><%= current_user.logo_initial %></div>
            <p class="mb-0">Account</p>
        </div>
      <% else %>
        <div class="d-flex align-items-center gap-1">
            <div class="avatar-circle">?</div>
            <p class="mb-0">Sign In</p>
        </div>
      <% end %>
    </div>

    <!-- Dark background overlay -->
    <div class="sidebar-overlay" id="sidebarOverlay"></div>

  </div>
</div>
