<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

    <!-- Calendar Overview Link To-->
  <button class="navbar-toggler" type="button" id="navbarToggle">
    <span class="navbar-toggler-icon"></span>
  </button>

    <!-- Greeting text-->
    <div>
      <p>What's on your 🪶</p>
      <p>mind today User?</p>
    </div>

    <!-- Routing Button -->
    <% if current_page?(root_path) %>
    <!-- We're on homepage, link to calendar -->
      <%= link_to dashboard_calendar_path, class: "navbar-lewagon navbar-brand" do %>
        <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png", alt: "Go to Calendar" %>
      <% end %>
    <% else %>
      <!-- We're NOT on homepage, link back to homepage -->
      <%= link_to root_path, class: "navbar-lewagon navbar-brand" do %>
        <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png", alt: "Go to Home" %>
      <% end %>
    <% end %>

    <!-- Simple sliding sidebar -->
    <div class="simple-sidebar" id="simpleSidebar">
      <div>
        <button id="closeSidebar">Close</button>
      </div>
      <div>
        <input type="text" placeholder="🔎 search">
      </div>
      <div>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Premium</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
      <div class="d-flex align-items-center gap-1">
          <div class="avatar-circle"><%= current_user.logo_initial %></div>
          <p class="mb-0">Account</p>
      </div>
    </div>

    <!-- Dark background overlay -->
    <div class="sidebar-overlay" id="sidebarOverlay"></div>

  </div>
</div>
